.b {
    font-weight: bold;
}

.no-effect {
    text-decoration: none;
}

.inp-text {
    font-size: 1.2em;
}

.my-input:active, .my-input:hover, .my-input:focus {
    outline: 0;
    outline-offset: 0;
}

.my-input {
    padding-bottom: 0.3em;
    background-color: var(--bs-body-bg);
}

.clo{
    color: rgba(144, 144, 144, 0.36);
}

.cloRead {
    color: white;
    font-size: 0.8em;
}

.cloRead:hover {
    color: #0d6efd;
}

.myLink {
    text-decoration: none;
    color:black;
}

.false {
    color: red;
}

.true {
    color: green;
}

footer {
    background-color: #e3e3e3;
}

#app {
    min-height: 55vh;
}

.main-button {
    border: 2px solid black;
    /*display: inline;*/
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 3.5em;
    padding-right: 3.5em;

    width: max-content;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;
    margin-bottom: 10%;

}


.main-button h1 {
    font-size: 5rem;
}

.main-button h3 {
    font-size: 1.75rem
}

.link {
    text-decoration: none;
    color: inherit;
}

.countRead {
    float: right;
    font-size: 0.8em;
    color: rgba(228,0,0,0.51);
}


















